// Staðlaðar stærðir

$max-width: 1200px;
$gutter: 20px;

$font-header: "Oswald", Verdana, serif;
$font-text: "Open Sans", helvetica, arial, sans-serif;

$trans: 200ms ease-in-out;

$color-black: #000000;
$color-white: #fffcf2;
$color-orange: #ff5000;
$color-blue: #00b7ff;

$base-margin: 0 auto;
