@import "config.scss";

.section {
    display: flex;
    margin-left: ($gutter /2);
    margin-right: ($gutter /2);
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: $gutter;


    &:nth-child(1) > &_col:nth-child(2) {
        order: -1;
    }

    @media(min-width: 800px) {
        margin-bottom: $gutter *2;
        &:nth-child(1) > &_col:nth-child(2) {
            order: 1;
        }
    }

    &_col {
        width: 100%;
        padding-left: $gutter /2;
        padding-right: $gutter /2;

        @media(min-width: 800px) {
            width: 50%;
            padding-left: $gutter /2;
            padding-right: $gutter /2;
        }

    }

    &_content {
        font-size: 1.5rem;
        display: flex;
        flex-direction: column;
        margin-bottom: $gutter *2;

        @media(min-width: $max-width) {
            padding-left: 0;
            margin-bottom: 0;
        }
    }

    &_h2 {
        font-family: $font-header;
        font-size: 2rem;
        font-weight: 600;
        margin-bottom: $gutter *2;
    }
    &_p {
        margin-bottom: $gutter *2;
    }
}


.section_course {
    display: flex;
    margin-left: ($gutter /2);
    margin-right: ($gutter /2);
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: $gutter;
}